<div class="multipler" ng-if="multipler && multipler > 0">
    <p>Complete this game for x{{multipler}} points!</p>
</div>

<section id="gameTemplate" class="countTo10" flex>
  
   <h1 style="text-align:center">Count to {{countTo}}</h1>
   
   <div layout="horizontal">
       
      
       <div class="instructions" flex="70">
    <p style="text-align:center">Keep counting and press the button when you think {{countTo}} seconds has passed</p>
			
        </div>
        
        <div class="points" flex="30">
<!--            <h4>Points left <strong>{{points}}</strong></h4>-->
        </div>
       
   </div>
   
   <div layout="horizontal" layout-align="center">
       
       <div class="counter" ng-hide="hideNumber == true">
           {{count}}
       </div>
       
       
       
   </div>
   
    <div layout="horizontal" layout-align="center">
    <md-button class="guessCountButtton md-theme-green" ng-click="guessNumber(count)" flex="50">Press me</md-button>
       
    
    
    </div>
    
</section>