<div class="multipler" ng-if="multipler && multipler > 0">
    <p>Complete this game for x{{multipler}} points!</p>
</div>

<div class="whoThis">
     <h1 style="text-align:center">Who is the celebrity</h1>
		<div class="instructions">
			<h4 style="text-align:center">Points left <strong>{{points}}</strong></h4>
		</div>
		<div class="center">
				<img class="blur" ng-src="img/{{level.img}}" />
		</div>

		<br>
		<button ng-repeat="button in level.buttons" ng-click="checkAnswer($index)">
			{{button}}
		</button>
</div>
		
<!--filter: blur(0px);-->