<div class="multipler" ng-if="multipler && multipler > 0">
    <p>Complete this game for x{{multipler}} points!</p>
</div>

<div class="spotDifference">
     <h1 style="text-align:center">Which one is different</h1>
		<div class="instructions">
			<h4 style="text-align:center">Points left <strong>{{points}}</strong></h4>
		</div>
		<ul>
			<li ng-click="checkAnswer(0)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
			<li ng-click="checkAnswer(1)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
			<li ng-click="checkAnswer(2)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
			<li ng-click="checkAnswer(3)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
		</ul>
</div>