<div class="spotDifference">
		<div class="instructions">
			<p>Which one is different</p><h4>Points left <strong>{{points}}</strong></h4>
		</div>
		<ul>
			<li ng-click="checkAnswer(0)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
			<li ng-click="checkAnswer(1)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
			<li ng-click="checkAnswer(2)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
			<li ng-click="checkAnswer(3)" >
				<img ng-src="img/{{level.img}}same.jpg" class="differentImages"/>
			</li>
		</ul>
</div>