<div class="multipler" ng-if="multipler && multipler > 0">
    <p>Complete this game for x{{multipler}} points!</p>
</div>

<div class="whoThis">
		<div class="instructions">
			<p>Concentrate on the picture then answer the question</p><h4>Points left <strong>{{points}}</strong></h4>
		</div>
		<div class="center">
				<img class="guessImage" id="showImg" ng-src="img/{{level.img}}.jpg" />
		</div>

		<br>
		<div id="showMe">
			<p>Question: {{level.question}}</p>
			
			<button ng-repeat="answer in level.answers" ng-click="checkAnswer($index)">
				{{answer}}
			</button>
		</div>
</div>