<div class="whoThis">
  
    <h1 style="text-align:center">Concentrate on the picture then answer the question</h1>
		<div class="instructions">
			<h4 style="text-align:center">Points left <strong>{{points}}</strong></h4>
		</div>
		<div class="center">
				<img class="guessImage" id="showImg" ng-src="img/{{level.img}}.jpg" />
		</div>

		<br>
		<div id="showMe">
			<p style="text-align:center">Question: {{level.question}}</p>
			
			<button ng-repeat="answer in level.answers" ng-click="checkAnswer($index)">
				{{answer}}
			</button>
		</div>
</div>