<h1>Make it rain</h1>
<div class="whoThis">
		<div class="instructions">
			<p>Swipe the notes to the right until you throw {{getAmount}}</p><h4>Points left <strong>{{points}}</strong></h4>
		</div>
		<button>
			done
		</button>
		<ul>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
		</ul>
