<div class="multipler" ng-if="multipler && multipler > 0">
    <p>Complete this game for x{{multipler}} points!</p>
</div>

<h1>Make it rain</h1>
<div class="whoThis">
		<div class="instructions">
			<p>Swipe the notes to the right until you throw {{getAmount}}</p><h4>Points left <strong>{{points}}</strong></h4>
		</div>
		<button>
			done
		</button>
		<ul>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
			<li class="money">
			</li>
		</ul>
