<div class="multipler" ng-if="multipler && multipler > 0">
    <p>Complete this game for x{{multipler}} points!</p>
</div>

<h1>Make it rain</h1>
<div class="makeItRain">
		<div class="instructions">
			<p>Swipe the notes to the right until you throw {{getNumber}}</p>
		</div>
		<button ng-click="moneyDone()" class="btnDone">
			Done
		</button>
		<ul ng-swipe-right="swipedRight()">
			<li class="money" style="z-index: 100">
			</li>
			<li class="money" style="z-index: 99">
			</li>
			<li class="money" style="z-index: 98">
			</li>
			<li class="money" style="z-index: 97">
			</li>
			<li class="money" style="z-index: 96">
			</li>
			<li class="money" style="z-index: 95">
			</li>
			<li class="money" style="z-index: 94">
			</li>
			<li class="money" style="z-index: 93">
			</li>
			<li class="money" style="z-index: 92">
			</li>
			<li class="money" style="z-index: 91">
			</li>
			<li class="money" style="z-index: 90"> 
			</li>
			<li class="money" style="z-index: 89">
			</li>
			<li class="money" style="z-index: 88">
			</li>
			<li class="money" style="z-index: 87">
			</li>
			<li class="money" style="z-index: 86">
			</li>
			<li class="money" style="z-index: 85">
			</li>
			<li class="money" style="z-index: 84">
			</li>
			<li class="money" style="z-index: 83">
			</li>
			<li class="money" style="z-index: 82">
			</li>
			<li class="money" style="z-index: 81">
			</li>
		</ul>
