<!doctype html>
<html lang="en" ng-app="FSUGame">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>The Game</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/game.css"/>
    
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-cloak>
    <main ng-controller="ctrlApp" class="container">
    	<header id="mainHeader">
            <img class="avatar" ng-if="user.key && user.name" ng-src="http://robohash.org/{{user.key}}.png?set=set1&size=46x46"  layout-align="left center" /><p ng-if="user.name" class="playerName">{{user.name}}</p><div class="playerDetail" layout-align="right"  ng-if="user.score > 0"><img ng-src="http://png-2.findicons.com/files/icons/2799/flat_icons/256/trophy.png" class="smallTrophy" /></div>
    	</header>
        
		<div ng-view class="mainView">
            
		</div>

		<footer id="mainFooter">
			<h2>This is the Footer</h2>
		</footer>
    </main>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/services.js"></script>
    <script src="js/firebase.utils.js"></script>

    <!-- Leaderboard -->
    <script src="js/leaderboard/controller.js"></script>
    <script src="js/mobile/controller.js"></script>
    <script src="js/mobile/gameControllers.js"></script>
</body>
</html>
