<header id="leaderBoardHeader" layout="vertical" layout-align="center">
   <div id="logo">FSU Gaming</div>
</header>
<section ng-if="gameState == 0" ng-include src="'partials/leaderboard/start-game.html'">123</section>
<section ng-if="gameState == 1" ng-include src="'partials/leaderboard/waiting.html'"></section>
<section ng-if="gameState == 2" ng-include src="'partials/leaderboard/playing.html'"></section>
<section ng-if="gameState == 3" ng-include src="'partials/leaderboard/winner.html'"></section>

<footer>
<!--this is here if we want a footer -->
</footer>
