<section id="leaderBoardView">
   <div class="row" layout="horizontal" flex style="padding-bottom:10px;" class="md-whiteframe-z1">           
        <div class="gameControls" layout="horizontal" flex="33" layout-align="center center">
            <md-button class="md-theme-green" ng-click="startGame()" flex="50" >Start the game</md-button>
        </div> 
       
        <div class="gameInfo" layout="vertical" layout-align="center center" flex="33">       
            <p ng-if="game.gameStatus == 'Lobby'" style="text-align: center;"><b>Waiting for players to join the game</b></p>
            <p ng-if="game.gameStatus == 'Waiting'" style="text-align: center;"><b>Get Ready to start</b></p>
            
            <p>Players in game: {{players.length}}</p>         
        </div>  
             
        <div id="timerArea" flex="33" layout="vertical" layout-align="center center" ng-class="">
            <span >{{game.timeLeft|formatTimer}}</span>
        </div>
    </div>
    
    <div class="row" layout="horizontal" flex>
        <div id="playersArea" layout="vertical" ng-if="!winner.name">
            <div ng-if="players.length == 0" layout="horizontal" layout-align="center center">
              <div class="waitingForPlayers">
                  <md-progress-circular mode="indeterminate"></md-progress-circular>
                  <p>Currently waiting for players</p>
              </div>
               
            </div>

                <md-list flex ng-if="players.length > 0">

                    <md-item-content ng-repeat="player in players | orderBy:'score':true" class="player repeat-animation">

                        <div class="md-tile-left">

                            <img ng-src="{{player.avatar}}" alt="{{player.name}}" class="avatar" />


                        </div>
                        <div class="md-tile-content" layout="horizontal">
                               <div flex layout-align="center center">
                                    <h3 class="name">{{player.name}}</h3>

                                </div>

                                <div class="score" flex="40">
                                    <img class="trophy" ng-src="http://png-2.findicons.com/files/icons/2799/flat_icons/256/trophy.png" /> {{player.score}}                       
                                </div>
                        </div>
                </md-item-content>
            </md-list>
        </div>
        
        <div id="winnersArea" layout="vertical" ng-if="winner.name" flex>
           <div offset="30" flex="60" class="winningMessage" layout-padding>
               <img ng-src="http://png-2.findicons.com/files/icons/2799/flat_icons/256/trophy.png" class="winningTrphy" />

                <h2>Well done {{winner.name}} you just beat every one</h2>
                <p>Dave the duck says well done but pipe down and try to win again i dare ya</p>
               
                <a href="/#/leaderboard/">Create a new game</a>
            </div> 
        </div>
    </div>
</section>