<section id="welcomeScreen" layout="horizontal" layout-padding>
  
  <div flex="50" offset="30" layout="vertical" class="startingBlock" layout-align="center center">
      
       <h1>Welcome to ????????</h1>
       
       <p flex="80">Click the button below to start up a game and then connect to it via your mobile and start when your ready</p>
       
       
       <md-button ariaLabel="Start Game" ng-click="startGame()" class="startGameBtn md-theme-green">Start Game</md-button>
      
      
  </div>

</section>


