<div class="joinGame" ng-if="state == 0">
    <label>
        <span>Select a username:</span>
        <input type="text" ng-model="user.name" ng-model-options="{ debounce : 500 }" />
        <span class="error" id="usernameError"></span>
    </label>
    
    <a ng-click="continueButton()" id="continueButton">Continue</a>
</div>

<div class="joinGame" ng-if="state == 1">
	<ul>
        <li ng-repeat="game in games" ng-click="joinGame(game.$id)">
            {{game.name}}
        </li>
    </ul>
    
    <p ng-show="games.length < 1">There are currently no games</p>
</div>
