.mainView {
	padding: 0px 10px;
	box-sizing: border-box;
}

#mainHeader {
	.avatar {
		width: 55px;
		display: inline-block;
		margin: 0 10px 0 0;
		padding: 0px;
		height: 55px;
		vertical-align: middle;
	}
	
	.playerName {
		width: 60%;
		display: inline-block;
		color: white;
		text-align: left;
		font-size: 40px;
		vertical-align: middle;
		margin: 0px;
	}
	
	.playerScore {
		width: 28%;
		margin-right: 2%;
		display: inline-block;
		color: white;
		text-align: right;
	}
}

.winningMessage {
	text-align: center;
}

.animate {
	-webkit-transition: all 2s linear;
	transition: all 2s linear;
}

.multipler {
    display: block;
    padding: 10px;
    background: tomato;
    color: #fff;
    margin: 0 0 10px;
}

ul {
	padding: 0px;
	margin: 0px;
}

.instructions {
	p {
		display: inline-block;
		width: 60%;
		vertical-align: middle;
	}
	
	h4 {
		display: inline-block;
		width: 40%;
		vertical-align: middle;
		text-align: right;
		
		strong {
			color: blue;
		}
	}
}

.whichLargest {
	li {
		list-style: none;
		display: inline-block;
		width: 44%;
		margin: 10px 1.5%;
		color: white;
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
		border-radius: 10px;
		line-height: 60px;
		transition: display 2s linear;
		
		img {
			width: 150px;
			height: 150px;
		}
	}
}

.mathMania {
	
	li {
		list-style: none;
		display: block;
		width: 95%;
		margin: 10px 2.5%;
		height: 60px;
		background: #999;
		color: white;
		font-size: 40px;
		text-align: center;
		margin-bottom: 20px;
		border-radius: 10px;
		line-height: 60px;
		transition: display 2s linear;
	}
}

.howMany {
	button {
		display: inline-block;
		width: 45%;
		margin: 10px 1.5%;;
		background: #999;
		border: none;
		border-radius: 10px;
		color: white;
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
		border-radius: 10px;
		line-height: 60px;
		transition: display 2s linear;
	}
	
}

.whoThis {

	button {
		display: inline-block;
		width: 45%;
		margin: 10px 1.5%;;
		background: #999;
		border: none;
		border-radius: 10px;
		color: white;
		font-size: 14px;
		text-align: center;
		margin-bottom: 20px;
		border-radius: 10px;
		line-height: 60px;
		transition: display 2s linear;
	}

	.blur {
	  -webkit-animation: blur 4s linear;
	}
	
	
	

}

	@-webkit-keyframes blur {
		  0%,  { -webkit-filter: blur(15px); }
		  100% { -webkit-filter: blur(0px); }
	}

.spotDifference {
		li {
		list-style: none;
		display: inline-block;
		width: 44%;
		margin: 10px 1.5%;
		color: white;
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
		border-radius: 10px;
		line-height: 60px;
		transition: display 2s linear;
		
		img {
			width: 150px;
			height: 150px;
		}
	}
}

.simonSays {
	li {
		list-style: none;
		display: inline-block;
		width: 48%;
		height: 120px;
		margin: 1%;
		opacity: 0.4;
	}
	
	.topLeft {
		background: blue;
		border-top-left-radius: 40px;
	}
	
	.topRight {
		background: red;
		border-top-right-radius: 40px;
	}
	
	.bottomLeft {
		background: yellow;
		border-bottom-left-radius: 40px;
	}
	
	.bottomRight {
		background: green;
		border-bottom-right-radius: 40px;
	}
}

.makeItRain {
	position: relative;
	
	ul {
		display: block;
		height: 400px;
		width: 100%;
	}
	
	.money {
		background-image: url('../img/dollar.jpg');
		width: 200px;
		height: 100px;
		position: absolute;
		top: 50%;
		margin-top: -50px;
		left:0px;
	}
	
	.animateMoney {
	  -webkit-animation: movementMoney 1s linear;
	  z-index: 101 !important;
	}

}

@-webkit-keyframes movementMoney {
	  0%,  { left: 0px; }
	  100% { left: 400px;}
}

.center {
	width: 100%;
	display: block;
	text-align: center;
}

#showMe {
	display: none;
}

.md-button-inner {
	height: 60px !important;
}

.btnDone {
	width: 100px;
	height: 40px;
	font-size: 20px;
	background: #999;
	color: white;
	border: none;
	border-radius: 10px;
}